body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    background-color: cadetblue;
}
button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}